<!-- <div [ngStyle]="{'background' : 'url(../assets/bgimg.jpg)'}">
  <app-login></app-login>
</div>  -->

<!-- <app-login></app-login> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-add-users></app-add-users> -->
<router-outlet></router-outlet>