<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Book Id</label>
          <input type="text" class="form-control" formControlName="bookId" #bookId />
        </div>
        <div *ngIf="angForm.controls['bookId'].invalid && (angForm.controls['bookId'].dirty || angForm.controls['bookId'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['bookId'].errors.required">
            ID is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Book Name</label>
          <input type="text" class="form-control" formControlName="bookName" #bookName/>
        </div>
        <div *ngIf="angForm.controls['bookName'].invalid && (angForm.controls['bookName'].dirty || angForm.controls['bookName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['bookName'].errors.required">
            Book Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Category</label>
          <select class="form-control" formControlName="category" #category>
            <option *ngFor="let ip of cates">{{ip.cat}}</option>
          </select>
        </div>
        <div *ngIf="angForm.controls['category'].invalid && (angForm.controls['category'].dirty || angForm.controls['category'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['category'].errors.required">
            Category is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Author</label>
          <input type="text" class="form-control" formControlName="author" #author />
        </div>
        <div *ngIf="angForm.controls['author'].invalid && (angForm.controls['author'].dirty || angForm.controls['author'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['author'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Publication</label>
          <input type="text" class="form-control" formControlName="publ" #publ />
        </div>
        <div *ngIf="angForm.controls['publ'].invalid && (angForm.controls['publ'].dirty || angForm.controls['publ'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['publ'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Count</label>
          <input type="text" class="form-control" formControlName="count" #count />
        </div>
        <div *ngIf="angForm.controls['count'].invalid && (angForm.controls['count'].dirty || angForm.controls['count'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['count'].errors.required">
            Count is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="addBook(bookId.value, bookName.value, category.value, author.value, publ.value,count.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add Books</button>
          </div>
      </form>
    </div>
  </div>