<table class="table">
  <thead class="thead-dark">
      <th *ngIf="admin">User Name</th>
    <th>Book Id</th>
    <th>Book Name</th>
    <th>Category</th>
    <th *ngIf="admin">Action</th>
    <th *ngIf="!admin" >Status</th>
    
  

  </thead>
  <tbody>
    <!-- <tr *ngFor='let ip of Request'> -->
      <tr *ngFor='let ip of message; let book of books'>
        <td *ngIf="admin">{{ip.user}}</td>
      <td>{{ip.bookId}}</td>
      <td>{{ip.bookName}}</td>
      <td>{{ip.category}}</td>
      <td *ngIf="admin && ip.status==='Pending'" ><button class="btn btn-secondary" (click)="approve(ip)" >Approve</button></td>
      <td *ngIf="admin && ip.status==='Approved'"><button class="btn btn-secondary"  disabled="{{buttonDisabled}}" >Approved</button></td>
      
      <!-- <td *ngIf="!admin && approv==false">Pending</td>
    
      <td *ngIf="!admin && approv==true && ip.bookId==sessBook">Approved</td>
      <td *ngIf="!admin && approv==true && ip.bookId!=sessBook">Pending</td> -->
      <td *ngIf="!admin">{{ip.status}}</td>
      
      <!-- <td>{{ip.ObjectId}}</td> -->
      
      

      <!-- <td *ngIf="!admin"><a class="btn btn-secondary">Request</a></td> -->
      
      <!-- && ip.bookId==sess -->

    </tr>
  </tbody>
</table>



