<div class="row">
  <div class="form-group col-md-6" >
  <!-- <label class="col-md-4"><h3>Category</h3></label> -->
  <select class="form-control col-md-4" (change)="filterForeCasts($event.target.value)">
  <option value="none">select category</option>
  <option value="All">All</option>
  <option *ngFor="let ip of cats" [value]="ip.cat">{{ip.cat}}</option>
  </select>
  </div>
  <div class="col-md-6">
  <input class=" form-control border" type="search" placeholder="search" id="search" style="width:500px" [(ngModel)]="filter">
  </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <th>Book Id</th>
      <th>Book Name</th>
      <th>Category</th>
      <th>Author</th>
      <th>Publication</th>
      <th *ngIf="admin">Count</th>
      <th *ngIf="!admin">Action</th>
    </thead>
    <tbody>
      <tr *ngFor='let ip of book|filter:filter|paginate: { itemsPerPage: 2, currentPage: q}'>
        <td>{{ip.bookId}}</td>
        <td>{{ip.bookName}}</td>
        <td>{{ip.categoryName}}</td>
        <td>{{ip.author}}</td>
        <td>{{ip.publ}}</td>
        <td *ngIf="admin">{{ip.count}}</td>
        <td *ngIf="!admin"><button class="btn btn-secondary" (click)="details(ip)" >Request</button></td>
  
      </tr>
     
        
      
    </tbody>
    <tfoot>
      <tr><td colspan="5" > <pagination-controls (pageChange)="q = $event" class="float-right"></pagination-controls></td></tr>

    </tfoot>
    
  </table>
  <!-- <div  *ngIf="book === null" >
    <p >No books found</p>
  </div> -->
  
  